body{
    background-color: #EFE9D5;
}
#Heading{ /*main heading*/
  text-align: left;
  font-size: 5rem;
  font-family: 'Times New Roman', Times, serif;
  color: #27445D;
  text-transform: uppercase;
  margin-bottom: 00;
} 
#subHeading{ /*subHeading*/
  margin-top: 5px;
  font-size: small;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: dotted;
  text-transform: uppercase;
}
.nav-bar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #27445D;
  }
  
  .nav-bar li {
    flex-basis: 5%;
  }
  
  .nav-bar a {
    color: #fff;
    text-decoration: none;
    padding: 1em;
    display: block;
    text-align: center;
  }
  
  .nav-bar a:hover {
    background-color: #555;
  }
  